//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content

html
  include head
  body
    h1= title
    //- include header
    block content

    //- script(type='text/javascript', src='/js/app.min.js')
    
    block inline-scripts
    script(src='//localhost:35729/livereload.js')
    //- script(src='time-elements/time-elements.js')
    //- script(src='https://checkout.stripe.com/checkout.js')
    google-analytics(domain="wooepa.com", code="UA-48693864-1")