//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content

html
  include head
  style(shim-shadowdom='').
    html, body {
      height: 100%;
      }
      body {
      margin: 0;
      font-family: sans-serif;
      color: #333;
      }
      core-scroll-header-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #eee;
      }
      /* background for toolbar when it is at its full size */
      core-scroll-header-panel::shadow #headerBg {
      background-image: url('https://www.polymer-project.org/components/core-scroll-header-panel/demos/images/bg9.jpg');
      }
      /* background for toolbar when it is condensed */
      core-scroll-header-panel::shadow #condensedHeaderBg {
      background-color: #f4b400;
      }
      core-toolbar {
      color: #f1f1f1;
      fill: #f1f1f1;
      background-color: transparent;
      }
      .title {
      -webkit-transform-origin: 0;
      transform-origin: 0;
      font-size: 24px;
      }
  body(unresolved, fullbleed, layout, horizontal)
    //- include header
    core-drawer-panel#drawerPanel(narrow='{{narrow}}', drawerwidth='{{drawerWidth}}', rightdrawer='{{rightDrawer}}', responsivewidth='{{responsiveWidth}}', disableswipe='{{disableSwipe}}')
      core-header-panel(vertical, layout, drawer, flex)
          core-toolbar Asd
          core-menu
            if evs
              //- paper-input(label="Type a city", value="#{'loc.city'}")
              paper-input(label="Type a city", value="Aasd")
              paper-icon-button(icon="room")
            else if ev
              span.truncate #{ev.name}
      core-scroll-header-panel(condenses, main)
        core-toolbar.tall
          core-icon-button(icon='arrow-back', on-tap='window.history.back()')
          template(if='{{!rightDrawer}}')
            //- core-icon-button#menuButton(icon='menu', on-tap='{{togglePanel}}')
          template(if='{{rightDrawer}}')
            //- core-icon-button#menuButton(icon='menu', on-tap='{{togglePanel}}')
          div(flex)
          core-icon-button(icon='search')
          core-icon-button(icon='more-vert')
          //- .bottom.indent.title #{loc.city}
          .bottom.indent.title City
        block content

    //- script(type='text/javascript', src='/js/app.min.js')
    
    block inline-scripts
    script(src='//localhost:35729/livereload.js')
    //- script(src='time-elements/time-elements.js')
    //- script(src='https://checkout.stripe.com/checkout.js')
    google-analytics(domain="wooepa.com", code="UA-48693864-1")