body
  color rgba(0, 0, 0, 0.73)
  font-size 14px

*
  box-sizing border-box
  
button, select, html, textarea, input
  font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif

core-scaffold
  position absolute
  top: 0
  right 0
  bottom 0
  left 0

.events
  .event
    color inherit
    text-decoration none
    border 1px solid #bebebe
    padding 7px 8px
    margin 0 8px 6px 8px
    border-radius 3px
    background-color #fff
    // color: #555;

    h3
      margin 0
      font-weight 400
      font-size 1.1em
      
    .left
      img
        max-width 100%
        border-radius 2px
        border 1px solid #ddd
        // border-radius 100px

    .right
      padding-left 2px
      
      core-icon
        width 18px
        height 18px
        margin-right 3px
        
      .date
        span.date
          margin-right 5px

      .location span
        font-size 12px

  .tag-list
    padding 2px 0

    .tag
      border-radius 2px
      border 1px solid rgba(0, 0, 0, 0.73)
      font-size 10px
      cursor pointer
      margin 2px
      padding 1px 4px
      display inline-block
      text-align center
      text-transform uppercase
      line-height 13px

.truncate
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp 1
  -webkit-box-orient vertical
  &.two
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical

google-map
  display block
  height 300px

#view
  .description
    white-space pre-line
    

// core-scroll-header-panel {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: #eee;
// }

/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg, #drawerPanel core-header-panel core-toolbar {
  background-image: url('https://www.polymer-project.org/components/core-scroll-header-panel/demos/images/bg9.jpg');
}

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #f4b400;
}

core-header-panel::shadow #mainContainer{
  background white
}
  
.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  border-radius: 2px;
}